html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#score-box {
  visibility: hidden;
}

.score {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.score-vertical {
  height: auto;
  width: 60%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.score-text p {
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    text-align: center;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.content {
  width: 90%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Merriweather', Georgia, serif;
  line-height: 1.5;
  font-size: 16px;
}

.white {
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  height: 1em;
}

.main {
  max-width: 38rem;
  padding: 3rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: #007acc;
}

a:hover {
  outline: 0px;
  color: #686868;
}

h1 {
  margin: 0px;
}

h2 {
  font-size: 16px;
}

hr {
  height: 3px;
  color: black;
  background-color: black;
  border: none;
}

img {
  display: inline-block;
  box-shadow: none;
  margin: 0px;
  padding: 0px;
  height: 16px;
  vertical-align: middle;
}

.footer {
  margin-top: 7em;
}

.footer p {
  font-size: 12px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 400px) {
  #top,
  #bottom,
  #left,
  #right {
    background: #a5ebff;
    position: fixed;
  }

  #left,
  #right {
    top: 0;
    bottom: 0;
    width: 20px;
  }

  #left {
    left: 0;
  }

  #right {
    right: 0;
  }

  #top,
  #bottom {
    left: 0;
    right: 0;
    height: 20px;
  }

  #top {
    top: 0;
  }

  #bottom {
    bottom: 0;
  }

  .header {
    height: 6em;
  }

  frame {
    padding: 1em;
  }

  .score-text p {
      font-size: 30px;
  }
}

@media screen and (min-width: 800px) {
  .header {
    height: 10em;
  }

  frame {
    padding: 1.4em;
  }

  .footer {
    margin-top: 10em;
  }

  .score-text p {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align: center;
  }
}
